{# phoenix/app/templates/admin/dashboard.html #}
{% extends "base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin/dashboard.css') }}">
{% endblock %}
{% block content %}
<div class="admin-dashboard-container">
    <h2>Admin Dashboard</h2>
    <ul>
        {% for log in logs %}
            <li>{{ log }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/admin/dashboard.js') }}"></script>
{% endblock %}
